<div class='k-contents'>
  <div class="k-main">
<div class="k-contents">
  <div class="weight-bold-text">
    <h3>投稿が完了しました。</h3>
    <img src="/assets/message_otsukaresama.png" alt="Generic placeholder image" class="icon" width="140" height="140">
    <%=link_to '剣道のページへ移動する', kensis_path, class: "k-btn"%>
  </div>
</div>
</div>
</div>
